# build
/microbenchmark
/microbenchmark_openmp
/microbenchmark_openacc
/microbenchmark_distribution
build/
*.o

# outputs
result/*
!result/.gitkeep
!result/README.md

# raw results / logs
*.csv
*.txt
*.log
*.out
slurm-*

# figures
*.png
*.pdf
*.svg

# editor/system
.DS_Store
.vscode/
.idea/
.plotenv/

benchmark_cli_toolchain.py
config.yaml
microbenchmark.job
plot_extra.py
visualise.py


.venv/
software/
